#  Local .terraform directories
**/.terraform
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# all .tfvars files except template one
**/*.tfvars
!config_template.tfvars

# state-backend
state-backend.tf

*.lock.hcl

**/OLD_*

*.kubeconfig