# The ID of the Azure subscription to be used
subscriptionId = "xxxxx"

# The Azure environment to be used, either 'public' or 'china'
environment = "public"

# The Azure location to be used
location = "westeurope"

# The name of the infrastructure. e.g. simphera-infra
# This name will also be used as a prefix to the resource group names created by terraform.
infrastructurename = "simphera-infra"

# The tags to be added to all resources
tags = {}

# The machine size of the Linux nodes for the regular services
linuxNodeSize = "Standard_D4s_v4"

# The minimum number of Linux nodes for the regular services
linuxNodeCountMin = 1

# The maximum number of Linux nodes for the regular services
linuxNodeCountMax = 10

# The machine size of the Linux nodes for the job execution
linuxExecutionNodeSize = "Standard_D4s_v4"

# The minimum number of Linux nodes for the job execution
linuxExecutionNodeCountMin = 0

# The maximum number of Linux nodes for the job execution
linuxExecutionNodeCountMax = 10

# Specifies whether an additional node pool for gpu job execution is added to the kubernetes cluster
gpuNodePool = false

# The minimum number of nodes for gpu job execution
gpuNodeCountMin = 0

# The maximum number of nodes for gpu job execution
gpuNodeCountMax = 10

# The machine size of the nodes for the gpu job execution
gpuNodeSize = "Standard_NC16as_T4_v3"

# Path to the public SSH key to be used for the kubernetes nodes
ssh_public_key_path = "shared-ssh-key/ssh.pub"

# Specifies whether a VM for the dSPACE Installation Manager will be deployed
licenseServer = true

# Enables instalation of IaaSAntimalware extension on license server VM
# For using this extension licenseServer needs to be set.
licenseServerIaaSAntimalware = true

# Enables instalation of MicrosoftMonitoringAgent extension on license server VM.
# For using this extension licenseServer, logAnalyticsWorkspaceName and logAnalyticsWorkspaceResourceGroupName needs to be set.
licenseServerMicrosoftMonitoringAgent = true

# Enables installation of Microsoft Guest configuration extension on license server VM.
# For using this extension licenseServer needs to be set.
licenseServerMicrosoftGuestConfiguration = true

# The name of the Log Analytics Workspace to be used. Use empty string to disable usage of Log Analytics.
logAnalyticsWorkspaceName = ""

#  The name of the resource group of the Log Analytics Workspace to be used.
logAnalyticsWorkspaceResourceGroupName = ""

# The version of the AKS cluster.
kubernetesVersion = "1.28.3"

# Enable Key Vault purge protection
keyVaultPurgeProtection = true

# Restrict the Key Vault access to authorized IP ranges, e.g. ["198.51.100.0/24"]
# For setting the key vault firewall add IP range list, if the null value is used key vault will be expose to public access
keyVaultAuthorizedIpRanges = null

# Restrict the kubernetes API access to authorized IP ranges, e.g. ["198.51.100.0/24"]
apiServerAuthorizedIpRanges = null

# The SIMPHERA instances
simpheraInstances = {
  "production" = {
    # The name of the cluster. e.g. production
    # This name will also be used as a prefix to the resource group names created by terraform.
    name = "production"

    # The type of replication for the storage account. Can be LRS, GRS, RAGRS, ZRS, GZRS or RAGZRS.
    minioAccountReplicationType = "ZRS"

    # PostgreSQL Server version to deploy
    postgresqlVersion = "11"

    # PostgreSQL SKU Name
    postgresqlSkuName = "GP_Standard_D2ds_v4"

    # PostgreSQL Storage in MB, must be divisible by 1024
    postgresqlStorage = "32768"

    # Enable geo-redundant backups of database server
    postgresqlGeoBackup = false

    # Backup retention in days
    backupRetention = 7
  }
}
